.footer__container-blue {
    margin: auto;
    width: 100%;
    max-width: var(--container-blue);
}

.footer__info,
.footer__social {
    margin: auto;
    width: 100%;
    max-width: var(--container-footer-big);
}

.footer__container-DC {
    width: 100%;
}

.footer__container-social {
    width: 100%;
}